html,
body {
  color-scheme: dark;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button:hover:not(:disabled) {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
